aiofiles==23.2.1
aiogram==3.10.0
aiohttp==3.9.1
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.4.0
certifi==2026.1.4
frozenlist==1.8.0
idna==3.11
magic-filter==1.0.12
multidict==6.7.1
propcache==0.4.1
pyaes==1.6.1
pydantic==2.8.2
pydantic_core==2.20.1
Pyrogram==2.0.106
PySocks==1.7.1
TgCrypto==1.2.5
typing_extensions==4.15.0
yarl==1.22.0